<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logPath" value="logs" />
		<add key="pingTargets" value="www.cz|8.8.8.8|88.208.111.251|192.168.1.1" />
		<add key="pingFreq" value="60000" />
		<add key="autostartPing" value="true" />
		<add key="speedFreq" value="60000" />
		<add key="speedTarget" value="http://de.testmy.net/dl-0.5MB" />
		<add key="autostartSpeed" value="true" />
	</appSettings>
</configuration>